
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,500&display=swap');

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
    
 
}
.container{ 
    
     background: url(https://img.freepik.com/free-vector/comic-abstract-blue-background_225004-669.jpg?w=996&t=st=1682970337~exp=1682970937~hmac=c6168c5c598eb7058f80a5821aed7b2c18b25a0383b79367b944fa0679d26f59)
     no-repeat center center fixed ; 
     background-size: cover;
     
  
    min-height: 100vh;
    object-fit:cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
img{ 
    width: 200px;
    height: 200px;

}
.heroHeader { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: yellow;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}
.heroInput { 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background:orange ;
    border: none;
    margin-right: 1rem;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 10px;
    
}

.heroInput button { 
    background:#fff ;
    border: none   ;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.5rem;
}
.heroInput button:hover { 
    background: transparent;
    cursor: pointer;
    border: 1px solid ;
}
.heroInput input { 
    background:#fff ;
    border: none   ;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.5rem;
}

.heroInput input:focus { 
    background-color: #FEFF86;
}